<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/saavtk/run"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/saavtk/src/edu/jhuapl/saavtk/util/file/FileDiscovery.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.jhuapl.saavtk.util.file.FileDiscovery"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="OREX\ Simulated\ (V4)/101955\ Bennu   /Users/peachjm1/jhuapl/dev/sbmt/redmine-1310  /Users/peachjm1/jhuapl/dev/sbmt/redmine-1310/ryugu/jaxa-001/coloring /Users/peachjm1/jhuapl/dev/sbmt/redmine-1310/ryugu/jaxa-001/coloring/coloringlist.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="saavtk"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx9g"/>
</launchConfiguration>
